<h1>Welcome Home</h1>
<table class="table table-dashed">
    <thead>
        <tr>
            <th>User Id :</th>
            <th>First Name :</th>
            <th>Action :</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users">
            <td>{{user.userId}}</td>
            <td>{{user.fname}}</td>
            <td><button (click)="updateUser(user.userId)" class="btn btn-warning">EDIT</button> | <button class="btn btn-danger" (click)="removeUser(user.userId)">DELETE</button> | <button class="btn btn-primary" (click)="viewUser(user.userId)" >VIEW</button></td>
        </tr>
    </tbody>
</table>
