<h1>Welcome Home</h1>
<table class="table table-dashed">
    <thead>
        <tr>
            <th>User Id :</th>
            <th>First Name :</th>
            <th>User Email Id :</th>
            <th>User Password :</th>
            <th>Action :</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users">
            <td>{{user.userId}}</td>
            <td>{{user.fname}}</td>
            <td>{{user.email}}</td>
            <td>{{user.password}}</td>
            <td><button (click)="edit(user.userId)">Edit</button> | <button (click)="delete(user.userId)">Delete</button></td>
        </tr>
    </tbody>
</table>
