<br><br>
<label for="fname">First Name :</label>
<input type="text" [(ngModel)]="fname" /><br><br>
<label for="age">Age :</label>
<input type="number" [(ngModel)]="age" /><br><br>
<label for="email">Email :</label>
<input type="email" [(ngModel)]="email" /><br><br>
<label for="password">Password :</label>
<input type="password" [(ngModel)]="password" /><br><br>
<button (click)="retrieve()">Save</button><br><br>

<!-- <div *ngIf=isVisible>
My First Name : {{fname}}<br>
My Age : {{age}}<br>
My email : {{email}}<br>
My password : {{password}}<br>
</div> -->